<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <!--navigation part-->
    <nav>
      <div class="navigation">
        <ul>
          <li><a href="#aboutus">ABOUT US</a></li>
          <li><a href="#exh">EXHIBITIONS</a></li>
          <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.svg') }}">
          </div>
          <li><a href="#shop">SHOP</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </nav>
    <!--part with event-->
    <div class="current-event">
      <div class="event">
        <p>February 1 – April 28</p>
        <h1>Titianad The Renaissance in Venice</h1>
        <button>Learn more</button>
      </div>
    </div>
    <div class="about">
      <h2 id="aboutus">About Our Gallery</h2>
      <h3>A Journey Through Artistic Evolution</h3>
      <p>Welcome to [Gallery Name], where art transcends time and space. Founded in 1998, we are a sanctuary for artistic expression, dedicated to showcasing the transformative power of creativity across centuries. Our gallery bridges the classical and contemporary, offering a curated dialogue between masterpieces of the past and groundbreaking works of today.</p>
      <h3>Our Mission</h3>
      <p>We believe art is not merely observed, but experienced. Our mission is to cultivate meaningful encounters between viewers and artworks—sparking curiosity, provoking thought, and inspiring emotional resonance. Through thoughtfully curated exhibitions, we aim to illuminate the connections between artistic movements, tracing the continuum of human expression from Renaissance luminosity to digital-age innovation.</p>
      <h3>A Space for Community</h3>
      <p>More than a gallery—we are a cultural hub where artists, collectors, and enthusiasts converge. Our elegant, minimalist spaces are designed to enhance your viewing experience, allowing each artwork to command attention and speak for itself. Whether you're a seasoned collector or discovering art for the first time, you'll find inspiration within our walls.</p>
      <h3>Visit Us</h3>
      <p>Step into a world of beauty, innovation, and dialogue. Explore our current exhibitions, attend an opening reception, or simply wander through our galleries at your own pace. Art is a conversation—join us, and become part of it.</p>
      <button>More <span>&#8594;</span></button>
      <!--button links to page with address-->
    </div>
    <!--part with exhibitions-->
    <div id='exh'class="exhibitions">
      <div class="exh">
        <img src="{{ url_for('static', filename='img/exh/impressionism.webp') }}">
        <h2>Moments of Light: The Impressionist Gaze</h2>
        <p>31.01. — 01.03.2026</p>
        <span>
          An immersive exhibition celebrating the fleeting effects of light and atmosphere. This collection captures spontaneous "impressions" of modern life in the late 19th century, showcasing brushstrokes of pure color that blend in the eye of the beholder.
        </span>
      </div>
      <div class="exh">
        <img src="{{ url_for('static', filename='img/exh/surrealism.jpg') }}">
        <h2>The Unconscious Eye: Dreams and Revolutions</h2>
        <p>13.11. — 25.01.2026</p>
        <span>
          A journey into the depths of the subconscious. This exhibition explores the Surrealist movement's rebellion against rationalism, featuring startling juxtapositions, dreamlike landscapes, and works born from automatism, where chance and the psyche reign supreme.
        </span>
      </div>
      <div class="exh">
        <img src="{{ url_for('static', filename='img/exh/abstract_expressionism.jpg') }}">
        <h2>Gesture and Field: The Abstract Sublime</h2>
        <p>1.11. — 14.11.2026</p>
        <span>
          A powerful exhibition embodying the raw energy and emotional intensity of post-war America. Experience the vast "color fields" and dynamic "action paintings" where the canvas becomes an arena for epic, personal expression and existential inquiry.
        </span>
      </div>
      <div class="exh">
        <img src="{{ url_for('static', filename='img/exh/renaissance.jpg') }}">
        <h2>Humanitas: Rediscovering the World and the Self</h2>
        <p>20.09. — 26.09.2026</p>
        <span>
          A majestic exhibition tracing the rebirth of classical ideals. Discover masterpieces where humanist philosophy, scientific perspective, and divine beauty converge, placing mankind at the measured and luminous center of the universe.
        </span>
      </div>
      <div class="exh">
        <img src="{{ url_for('static', filename='img/exh/pop_art.jpg') }}">
        <h2>Common Culture: Icons, Irony, and the Mass Image</h2>
        <p>16.08. - 20.09.2026</p>
        <span>
          A bold and playful critique of consumer society. This exhibition highlights how Pop artists appropriated imagery from advertising, comic books, and celebrity culture, blurring the lines between high art and popular commercial design.
        </span>
      </div>
      <div class="exh">
        <img src="{{ url_for('static', filename='img/exh/minimalism.jpg') }}">
        <h2>Essential Forms: Space, Object, and Perception</h2>
        <p>12.07 - 10.08.2026</p>
        <span>
          A serene yet rigorous exhibition focused on purity and reduction. Featuring geometric forms, industrial materials, and repetitive sequences, this show invites contemplation on the essence of the art object and its relationship to the surrounding space and you, the viewer.
        </span>
      </div>
    </div>
    <!--part with art for sale-->
    <div id="shop" class="sale-section">
      <h2>GALLERY'S SHOP</h2>
      <div class="sale">
        <div class="images">
          <img src="{{ url_for('static', filename='img/sale/gray_img.avif') }}">
          <div class="img-descr">
            <h1>Pretty gray picrure</h1>
            <p>By authorname</p>
            <p>150$</p>
          </div>
        </div>
        <div class="images">
          <img src="{{ url_for('static', filename='img/sale/colors.jpg') }}">
          <div class="img-descr"> 
            <h1>Pretty picrure of colors</h1>
            <p>By authorname</p>
            <p>150$</p>
          </div> 
        </div>
        <div class="images">
          <img src="{{ url_for('static', filename='img/sale/lanscape.jpg')}}">
          <div class="img-descr">
            <h1>Pretty gray picrure</h1>
            <p>By authorname</p>
            <p>150$</p>
          </div>
        </div>
        <div class="images">
          <img src="{{ url_for('static', filename='img/sale/sky.jpg') }}">
          <div class="img-descr">
            <h1>Pretty gray picrure</h1>
            <p>By authorname</p>
            <p>150$</p>
          </div>
        </div>
        <div class="images">
          <img src="{{ url_for('static', filename='img/sale/summervibe.jpg') }}">
          <div class="img-descr">
            <h1>Pretty gray picrure</h1>
            <p>By authorname</p>
            <p>150$</p>
          </div>
        </div>
        <div class="images">
          <img src="{{ url_for('static', filename='img/sale/sunset_city.jpg') }}">
          <div class="img-descr">
            <h1>Pretty gray picrure</h1>
            <p>By authorname</p>
            <p>150$</p>
          </div>
        </div>
        <div class="images">
          <img src="{{ url_for('static', filename='img/sale/sunset_sea.jpg') }}">
          <div class="img-descr">
            <h1>Pretty gray picrure</h1>
            <p>By authorname</p>
            <p>150$</p>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="contact-form">
      <div class="form-description">
        <h2>Contact us</h2>
        <p>We are open for cooperation with new artists</p>
      </div>
      <div class="form-container">
        <form id="contactForm" action="submit-contact" method="POST">
          <div class="form-group">
            <input type='text' name="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input type='email'  name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="submit" value="Sent">
          </div>
        </form>
      </div>
    </div>
    <!--footer part-->
    <footer>
      <div class="fot">
        <p>Contacts: +7(999)4441122</p>
        <p>Gallery example weblite</p>
      </div>
    </footer>
  </body>
</html>